<h1>Bonjour <%= current_user.name %>, voici ton événément : <%= @event.description %>, il aura lieu le <%= @event.date %>, à <%= @event.place %>  et le prix du billet est: <%= @event.price %>  euros</h1>
<p><%= link_to 'clique ici pour voir la liste des événements', events_path %></p>
