
<h1>Liste des événements</h1>   
  <h4><%= link_to "Ajoute un événement!", new_event_path %></h4>








 
 




 <div class="container">
  <table class="table">
<% @events.each do |event| %>
      <tr>
        <th>Description</th>
        <th>Date</th>
        <th>Lieu</th>
        <th>Prix</th>  
        <th>Organisateur</th>  
      </tr>
    
        <tr>
          <td><%= event.description %></td>
          <td><%= event.date%></td>
          <td><%= event.place%></td>
          <td><%= event.price %> euros</td>
           <td><%= current_user.name %></td>
          <td><%= link_to 'Supprimer', event, method: :delete %></td>
          <td><%= link_to 'Participer', users_show_path %></td>
        </tr>
        </div>

  <%end%>

